* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  
}

.light{
  background-color: #f4f4f4;
  color: #333;
}

.dark{
  background-color: #333;
  color: #f4f4f4;
}

.nav h1{
  font-size: 24px;
}

.nav ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

button{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}