
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e5e5e5;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.parent {
  width: 350px;
  height: 550px;
  margin: 50px;
  border-radius: 10px;
  background-color: white;
}

.top {
  height: 300px;
  position: relative;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.center{
  text-align: center;
}

.bottom{
  text-align: center;
   display: flex;
  justify-content: space-around;
  align-items: center;

  padding-bottom: 0px;
 
}

.heart{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  /* border: 1px solid gray; */
  color: white;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: rgb(161, 158, 158);
}