body{
    background-color: aqua;
    color: rgb(22, 15, 221);
    font-size: 2.8rem;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(104, 100, 225);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
}